.tracker-div {
    @apply m-0 p-7
    
}

.tracker-filter-div {
    @apply -mt-16

}

.tracker-content {
    width: 70%;
    @apply  basis-full
    ml-20
    sm:ml-32
    md:ml-40
    lg:ml-80
    xl:ml-96
    2xl:ml-96
}

.tracker-control {
  @apply flex justify-between mx-5;
}

.tracker-button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
