.add-job {
    background-color:#B1D199;
    border: solid 2px #FF7561;
    @apply w-96 p-3 flex h-screen;
}

.add-job_opportunity-detail_form {
    @apply  flex flex-col flex-1;
}

.add-job_header {
   @apply  flex flex-col; 
}

.add-job_header_button {
    @apply  hover:bg-slate-50 flex items-center text-lg font-bold content-between;
}

.add-job_container {
    @apply  flex flex-col flex-1 place-content-around;
}

.add-job_opportunity-detail_input {
    margin-left:1rem;
    border: solid 2px #FF7561;


}

.add-job_opportunity-detail_label {
    margin:1rem;
    padding:1rem;
}

.add-job__field {
    padding:.2rem;
}

.add-job_status-detail {
    @apply  flex flex-col gap-5 m-5;
}

.add-job_footer_button  {
    @apply  hover:bg-slate-50 flex items-center;
}
