.form-container {
  @apply flex flex-col justify-between bg-gray-200 items-end w-auto rounded-lg p-5;
}

.form_input {
  @apply rounded-sm border-none my-2 mx-0 p-2 text-black;
}

.form_span {
  color: #484d52;
  padding-right: 1rem;
}

.form_button {
  height: 2rem;
  width: 6rem;
  margin: 0.5rem;
  background-color: #58765e;
  border-radius: 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #484d52;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.form_label {
  color: #383b3f;
}

.form_button:hover {
  background-color: #484d52;
  color: white;
}

.error {
  @apply text-red-500 text-base;
}

.success {
  @apply text-green-600 text-base;
}
