body {
    @apply p-0 m-0 font-display;
}

.landing {
    @apply text-center text-white ;
}

.landing--div {
    @apply 
    h-screen 
    bg-no-repeat
    bg-[url('../assets/m-adventurer.png'),_url('../assets/f-adventurer.png'),_url('../assets/layered-peaks-haikei.svg')] 
    bg-[position:left_bottom,_right_bottom,_center_bottom] 
    bg-[length:180px,_180px,_cover] 
    sm:bg-[length:300px,_300px,_cover] 
    md:bg-[length:400px,_400px,_cover]
    lg:bg-[length:450px,_450px,_cover]
    drop-shadow-lg
    overflow-hidden 
    flex 
    flex-col 
    items-center 
    justify-center;
}

.landing--h1 {
    @apply text-5xl font-medium mb-4;
}

.button--landing {
    @apply 
    mt-5 
    mx-2 
    h-16 
    w-52 
    border-none 
    rounded-xl 
    bg-stone-300 
    text-gray-600 
    text-xl 
    font-medium 
    cursor-pointer;
}