.navbar {
    /* text-align: left;
    font-family: 'Inter', Arial, Helvetica, sans-serif; */
    @apply top-0 box-border h-full
    ;
    
}

.navbar--div {
    /* padding: 2px;
    width: 12%;
    height: 100vh;
    position: absolute;
    background-color: white; */
    @apply absolute w-80 h-screen text-gray-500 bg-white flex flex-col
    /* bg-gradient-to-r from-cyan-500 to-blue-50  */
    ;

}

.navbar--list {
    /* font-size: 0.75rem;
    color: #C8BFBF; */
    @apply flex flex-col gap-12 p-10
    
}

.navbar--logo {
    /* display: flex;
    justify-content: center;
    padding: 8px; */
    @apply flex justify-center
}

.profile--picture--div {
    
}

.navbar--profile_picture {
    /* display: flex;
    justify-content: center;
    padding: 50px 0; */
    /* height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 5px solid #C8BFBF;
    box-shadow: 0 5px 5px; */
    @apply 
    h-48 w-48 border-4 rounded-full
    drop-shadow-xl 

    
}

.navbar--list_item {
    /* display: flex;
    align-items: center;
    padding: 12px;
    transition: 0.5s; */
    @apply flex flex-row p-5
    drop-shadow-xl-d 
    transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300
    ;
}

.navbar--list_item:hover {
    /* color: #424B54;
    font-size: .9rem; */
    @apply text-black 
}

.navbar--icon {
    /* height: 2rem;
    padding-right: 25px; */
    @apply h-6 drop-shadow-lg 
    ;
}

.navbar--text {
    @apply self-center px-10 text-lg 
}

.navbar--text_logout {
    @apply text-sm;
}

.navbar--button--div {
    @apply 
        relative flex justify-center
        

}

.navbar--button {
    /* position: absolute;
    bottom: 10%;
    left: 25%;
    display: flex;
    background-color: #63B4FF;
    filter: drop-shadow(0px 6px 4px #63B4FF);
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    transition: 0.5s; */
    @apply 
        bg-gradient-to-l from-sky-600 to-sky-500
        text-white
        rounded-full drop-shadow-2xl
        h-10 w-32 p-2 text-base
        transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300 
    ;
}

.navbar--button:hover {
    /* height: 50px;
    width: 130px; */
}

.navbar--logout {
    /* position: absolute;
    bottom: 0%; */ 
    
}

.div--logout {
     @apply flex flex-row
     justify-end 
     
}

.navbar--text_logout {
    @apply text-sm ;
}

.navbar--icon_logout {
    /* height: 1.2rem;
    margin: 7px 12px; */
    @apply h-4 w-4 
}