.navbar {
  @apply top-0 box-border h-full z-50;
}

.navbar_div {
  @apply absolute w-20 h-screen text-gray-500 bg-white flex flex-col
    sm:w-20
    md:w-32 md:text-xs
    lg:w-60
    xl:w-80;
}

.navbar_list {
  @apply flex flex-col gap-12
    sm:gap-2 p-0
    md:p-2;
}

.navbar_logo {
  @apply flex justify-center;
}

.logo {
  @apply -mt-5
        sm:-mt-0;
}

.profile_picture_div {
  @apply flex justify-center;
}

.navbar_profile_picture {
  @apply border-4 rounded-full
    drop-shadow-xl
    h-8 w-8
    sm:h-10 sm:w-10    
    md:h-20 md:w-20
    lg:h-32 lg:w-32
    xl:h-48 xl:w-48;
}

.navbar_list-item {
  @apply flex flex-row justify-center p-4
    sm:p-2
    md:p-2 
    drop-shadow-xl
    transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300;
}

.navbar_list_item:hover {
  @apply text-black;
}

.navbar_icon {
  @apply h-6 drop-shadow-lg;
}

.navbar_text {
  @apply self-center px-10 hidden
    lg:inline lg:text-lg;
}

.navbar_text_logout {
  @apply text-sm;
}

.navbar_button_div {
  @apply relative flex justify-center;
  lg: p-4;
}

.navbar_button {
  @apply bg-gradient-to-l from-sky-600 to-sky-500
        text-white
        rounded-full drop-shadow-2xl
        h-10 w-10 p-2 text-base
        sm:h-10 sm:w-10
        md:h-10 md:w-10
        lg:h-10 lg:w-32
        transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300;
}

.navbar_button p {
  @apply hidden
    lg:inline-block;
}

.div_logout {
  @apply flex flex-row
     justify-end p-2;
}

.navbar_text_logout {
  @apply text-sm hidden
    lg:inline-block;
}

.navbar_icon_logout {
  @apply h-4 w-4;
}
