@tailwind components;

.dashboard_tracker_container {
    @apply flex flex-row w-full
    md:w-2/5

}

.dashboard_tracker_item {
    @apply bg-br-green flex flex-nowrap flex-col border-2 m-4 rounded-3xl
    md:p-4 
    lg:p-8
    xl:p-10
}

.dashboard_tracker_item_text {
    @apply text-xl font-semibold text-tailwind-grey
    md:text-sm
    lg:text-lg;
    
}

@layer components {
    .dashboard_tracker_item_text {
        text: tailwind-grey;
    }
}