.dashboard_job-card_container {
    
}

.dashboard_job-card_item {
    @apply bg-br-green basis-2/6 border-2 m-2 p-4 rounded-3xl text-center
    md:w-32
    lg:w-full lg:ml-10
    2xl:w-80
}

.dashboard_job-card_text {
    @apply text-gray-900 text-base text-sm ;
}

.dashboard_job-card {
    /* @apply flex flex-col items-end
    md:w-60 
    lg:text-end
    xl:w-4/5
    2xl:w-4/5 */
}

.dashboard_job-card_text {
   /* @apply 
    md:ml-4
    lg:text-end lg:text-base
    xl:text-end xl:text-lg
    2xl:text-end 2xl:mr-4 2xl:text-xl */
}
