html {
    font-size: 62.5%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;

}

.landing--h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
}

.container--landing {
    color: #F0F0F1;
    background-image: url("assets/layered-peaks-haikei.svg");
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button--landing {
    height: 5rem;
    width: 15rem;
    margin: 5px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}